table {
  width: 90%;
  border-collapse: collapse;
  align-items: center;
  margin-left:5%; 
  margin-right:5%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {background-color: rgb(162, 218, 218);}
tr:nth-child(odd) {background-color: rgb(230, 245, 245);}

th {
  background-color: darkcyan;
  color: white;
}

tr:hover {background-color: rgb(43, 180, 180);}